h1{
    color: #915c00;
}


header{
    height: 200px;
    padding: 20px 10px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: pink;
    color: white;
    font-size: 80px;
    line-height: 100px;
    width: 100%;
}

.navigation{
    font-size: 30px;
    color:#915c00;
    text-align: right;
    line-height: 100%;
    position: fixed; top: 0;
   
}

body{
    background-color: white; color: #915c00;
    resize: both; overflow: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

footer{
    position: fixed; bottom: 0;
    height: 50px;
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    color: cornsilk;
    width: 100%;
}

img{
        display: block;
        margin-left: auto; 
        margin-right: auto;
         width: 25%;
}

common{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}